.Product {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  gap: 1rem;
  background-color: var(--elements-bg-color);
}

.ProductLink {
  text-decoration: none;
  color: var(--text-color);
}

.Info {
  display: flex;
  gap: 1rem;
}

.Buying {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Buying button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--elements-bg-color);
  background-color: var(--text-color);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.Buying button:hover {
  box-shadow: 0 0 10px var(--second-hover-color);
}

.Product img {
  background-color: white;
  width: 5vw;
  aspect-ratio: 1/1;
  object-fit: scale-down;
  border-radius: 1rem;
}

.description {
  display: flex;
  flex-direction: column;
}

.description h2 {
  font-size: 1.2rem;
  margin: 0;
}
.description strong {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.description p {
  margin: 0;
}

.DeleteButton {
  background-color: rgb(250, 72, 72);
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  border: none;
  cursor: pointer;
  margin: 0 0 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
