.EditAndProductContainer {
  width: 100%;
}

.ProductOverview {
  border-radius: 1rem;
  background-color: var(--elements-bg-color);
  padding: 2rem;
  box-sizing: border-box;
}

.ImagesAndDescription {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.Buying {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Buying strong {
  font-size: 1.2rem;
}

h2 {
  margin: 0 0 1rem 1rem;
  font-size: 2rem;
}

.BuyButton {
  padding: 0.6rem 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--elements-bg-color);
  background-color: var(--text-color);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem;
}

.BuyButton:hover {
  box-shadow: 0 0 15px var(--second-hover-color);
}

.Description {
  flex-grow: 1;
}

.ShowMoreButton {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
  background-color: var(--elements-bg-color);
  color: var(--text-color);
  margin-left: 1rem;
}

.ShowMoreButton:hover {
  color: var(--second-hover-color);
}

.EditButton {
  background-color: rgb(250, 170, 72);
  border-radius: 1rem;
  padding: 0.2rem 0.5rem;
  border: none;
  cursor: pointer;
  margin: 0 0 0.5rem 0.5rem;
  font-size: 1rem;
  font-weight: 500;
}
